<!DOCTYPE html>
<html>
  <head>
    <title>Devcan</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header> <nav>

    <ul>
      <%if user_signed_in? %>
        <li> <%=link_to "Edit Profile", edit_user_registration_path %> </li>
        <li> <%=link_to "Product",  products_path %></li>
        <li> <%=link_to "New Product",  new_product_path %></li>
        <li><%=link_to "Log out" , destroy_user_session_path, method: :delete %></li>
      <%else %>
        <li><%=link_to "Signup", new_user_registration_path %> </li>
        <li><%=link_to "Log in" , new_user_session_path %> </li>
      <%end %>
<!--      <li><%#=link_to ,root_path %></li>-->
<!--      <li><%#=link_to , root_path %></li>-->
    </ul>
  </nav></header>

  <div id="main-container" class="container">
    <%= yield %>
  </div>
  </body>
</html>
